{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 align="center">Tech Tweet Classifier</h1>
    <br>
    <h2 align="center">Know which company (Apple, Google, Microsoft, Twitter) tweets are talking about and what the sentiment is!</h2>
  </div><!-- /.container -->

  <div class="container" align="center">
    <h1>Submit Your Text</h1>
    <p>Paste or type your tweet into the input box below, and click the <span>Classify</span> button to predict your tweets's classification.</p>
  
    <form action="/predict" method='POST' >
        <textarea name="tweet_body", 
                  rows="12", cols="60"></textarea>
        <button type="submit">Classify</button> 
    </form>
  </div>

{% endblock %}