{% extends "base.html" %}
{% block content %}

<img src='../static/img/word_cloud_all_tweets.png' style="width:540px;height:360px;">
<img src='../static/img/word_cloud_apple_tweets.png' style="width:540px;height:360px;">
<img src='../static/img/word_cloud_google_tweets.png' style="width:540px;height:360px;">
<img src='../static/img/word_cloud_ms_tweets.png' style="width:540px;height:360px;">
<img src='../static/img/word_cloud_twitter_tweets.png' style="width:540px;height:360px;">
<img src='../static/img/word_cloud_neutral_tweets.png' style="width:540px;height:360px;">
<img src='../static/img/word_cloud_pos_tweets.png' style="width:540px;height:360px;">
<img src='../static/img/word_cloud_neg_tweets.png' style="width:540px;height:360px;">

{% endblock %}